## Reto: Los deportistas mejor pagados

In [1]:
import pandas as pd

In [2]:
deportistas_df = pd.read_csv('forbes_richest_atheletes.csv')
deportistas_df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [3]:
deportistas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

### Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020.

### Atleta con el menor número de apariciones y mayores ganancias.

### Deporte y país con mayor número de atletas no rankeados que entraron en la lista de atletas mejor pagados.

### País con mayor número de deportes con atletas en el dataset.

### ¿Cuántos atletas por deporte tiene cada país?

### Ganancia mínima y máxima (dentro del dataset) por deporte y por país.

### Atleta con mayores ganancias por deporte por década

### Ganancia total por cada deporte por cada año.